{% extends "manager/layouts/base.html" %}
{% block content %}
      <h1>Tasks manager Homepage</h1>
      <p>Total records counts:</p>
      <ul>
          <li><strong>Projects:</strong> {{ num_projects }}</li>
          <li><strong>Workers:</strong> {{ num_workers }}</li>
          <li><strong>Tasks:</strong> {{ num_tasks }}</li>
      </ul>
      <p>
        You have visited this page
          {% if num_visits > 1 %}
              {{ num_visits }}
          {% else %}
              for the first
          {% endif %}
        time{{ num_visits|pluralize }}.
      </p>
{% endblock %}