{% extends "manager/layouts/base-auth.html" %}
{% load static %}

{% block content %}

    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
        <a href="/static" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
            <img src="https://flowbite-admin-dashboard.vercel.app/images/logo.svg" class="mr-4 h-11" alt="FlowBite Logo">
            <span>Tasks manager</span>
        </a>
        <!-- Card -->
        <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
                Register
            </h2>
            <form method="post" class="mt-8 space-y-6">
                {% csrf_token %}

                {% for field in form %}
                    <div>
                        <label for="{{ field.name }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field.label }}</label>
                        {{ field }}
                        <span class="block dark:text-red-800 mt-2 text-sm">{{ field.errors }}</span>
                    </div>
                {% endfor %}
                <button type="submit" class="w-full px-5 py-3 text-base font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Create account</button>
                <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
                    <a href="{% url 'signin' %}" class="text-primary-700 hover:underline dark:text-primary-500">Sign IN</a>
                </div>
            </form>
        </div>
    </div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const usernameInput = document.getElementById("id_username");
    const orgNameInput = document.getElementById("id_organization_name");
    let orgManuallyEdited = false;

    if (!usernameInput || !orgNameInput) return;

    orgNameInput.addEventListener("input", () => {
      orgManuallyEdited = true;
    });

    usernameInput.addEventListener("input", () => {
      if (!orgManuallyEdited) {
        const username = usernameInput.value.trim();
        orgNameInput.value = username ? `${username}'s Organization` : "";
      }
    });
  });
</script>
{% endblock content %}
